.dashboardHeader {
  display: flex;
  width: 100%;
  height: 8vh;
  background-color: #ffffff;
  justify-content: center;
}
.dashboardHeader__icon {
  position: absolute;
  right: 0;
  cursor: pointer;
  margin-top: 13px;
  margin-right: 16px;
}
